// ======================================
//  grid Styles
// ======================================

 .gallery{
    text-align: center;
    width: 95%;
   display: grid;
   grid-template-columns: repeat(auto-fill, 225px);  ;
   grid-template-rows: repeat(auto-fill, 1fr) ;
   grid-gap: 1.5rem 1.5rem;
   margin-right: auto;
   margin-left: 2.5%;
  }
a { 
    overflow: hidden;
}

