// ======================================
//  Base Styles
// ======================================

* {
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  